USE [master]
GO
/****** Object:  Database [OmokDB]    Script Date: 2022-04-04 오전 11:52:48 ******/
CREATE DATABASE [OmokDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OmokDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.KGCAMK\MSSQL\DATA\OmokDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OmokDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.KGCAMK\MSSQL\DATA\OmokDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OmokDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OmokDB]
GO
USE [OmokDB]
GO
/****** Object:  Table [dbo].[GAMEUSER]    Script Date: 2022-04-04 오전 11:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAMEUSER](
	[USER_ID] [nvarchar](50) NOT NULL,
	[USER_PS] [nvarchar](50) NOT NULL,
	[ACCOUNT_DATE] [smalldatetime] NULL,
	[LOGIN] [smalldatetime] NULL,
	[LOGOUT] [smalldatetime] NULL,
	[AGE] [int] NOT NULL,
 CONSTRAINT [PK_GAMEUSER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PLAYINFO]    Script Date: 2022-04-04 오전 11:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PLAYINFO](
	[USER_ID] [nvarchar](50) NOT NULL,
	[TOTAL_PLAYGAME] [int] NOT NULL,
	[WIN_GAME] [int] NOT NULL,
	[LOSE_GAME] [int] NOT NULL,
	[WIN_RATE] [int] NOT NULL,
 CONSTRAINT [PK_USER_PLAYINFO] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GAMEUSER] ([USER_ID], [USER_PS], [ACCOUNT_DATE], [LOGIN], [LOGOUT], [AGE]) VALUES (N'1q', N'1q', CAST(N'2022-03-14T16:58:00' AS SmallDateTime), CAST(N'2022-03-14T18:45:00' AS SmallDateTime), CAST(N'2022-03-14T18:46:00' AS SmallDateTime), 44)
INSERT [dbo].[GAMEUSER] ([USER_ID], [USER_PS], [ACCOUNT_DATE], [LOGIN], [LOGOUT], [AGE]) VALUES (N'1Q2W', N'1Q2W', CAST(N'2022-03-28T10:55:00' AS SmallDateTime), CAST(N'2022-03-28T10:55:00' AS SmallDateTime), CAST(N'2022-03-28T10:56:00' AS SmallDateTime), 22)
INSERT [dbo].[GAMEUSER] ([USER_ID], [USER_PS], [ACCOUNT_DATE], [LOGIN], [LOGOUT], [AGE]) VALUES (N'aa', N'aa', CAST(N'2022-03-14T12:38:00' AS SmallDateTime), CAST(N'2022-04-01T16:23:00' AS SmallDateTime), CAST(N'2022-04-01T16:18:00' AS SmallDateTime), 22)
GO
INSERT [dbo].[USER_PLAYINFO] ([USER_ID], [TOTAL_PLAYGAME], [WIN_GAME], [LOSE_GAME], [WIN_RATE]) VALUES (N'1q', 0, 0, 0, 0)
INSERT [dbo].[USER_PLAYINFO] ([USER_ID], [TOTAL_PLAYGAME], [WIN_GAME], [LOSE_GAME], [WIN_RATE]) VALUES (N'1Q2W', 1, 1, 0, 100)
INSERT [dbo].[USER_PLAYINFO] ([USER_ID], [TOTAL_PLAYGAME], [WIN_GAME], [LOSE_GAME], [WIN_RATE]) VALUES (N'aa', 8, 4, 4, 50)
GO
ALTER TABLE [dbo].[GAMEUSER] ADD  DEFAULT (getdate()) FOR [ACCOUNT_DATE]
GO
/****** Object:  StoredProcedure [dbo].[CreateAccount]    Script Date: 2022-04-04 오전 11:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateAccount]
	@id NVARCHAR(50),
	@ps NVARCHAR(50),
	@age INT
AS
	SET NOCOUNT ON -- 실행결과 출력하지 않는다.
	BEGIN TRY
			DECLARE @ret NVARCHAR(50)
			-- 게임 유저에서 아이디찾아서 그 아이디를 갖고 리턴 변수에 넣어라.
			-- 즉 ID가 이미 존재하면.
			SELECT @ret = USER_ID FROM GAMEUSER WHERE USER_ID = @id; 
			IF(@ret <> N'') -- N''는 널이라는 의미.
				BEGIN -- 블럭
					RETURN 1;
				END
				ELSE
					BEGIN
						BEGIN TRAN
							insert into GAMEUSER(USER_ID,USER_PS,AGE) values(@id,@ps,@age) -- insert into는 새로운 레코드를 테이블에 삽입.
							EXEC dbo.InsertUserInfo @id
						COMMIT TRAN				
					RETURN 0;
					END
		END TRY

	BEGIN CATCH -- 예외적인 상황. 여기로 온다.
		ROLLBACK TRAN
		RETURN 2;
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[GetPlayerInfo]    Script Date: 2022-04-04 오전 11:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPlayerInfo]
	@id NVARCHAR(50),
	@totalGame INT OUTPUT,
	@winGame INT OUTPUT,
	@loseGame INT OUTPUT,
	@winRate FLOAT OUTPUT
AS
	SET NOCOUNT ON -- 실행결과 출력하지 않는다.
	BEGIN TRY
			DECLARE @ret NVARCHAR(50)

			SELECT @ret = USER_ID FROM USER_PLAYINFO WHERE USER_ID = @id; 
			IF(@ret <> N'') -- N''는 널이라는 의미.
				BEGIN -- 블럭
					SELECT @totalGame = TOTAL_PLAYGAME FROM USER_PLAYINFO WHERE USER_ID = @id
					SELECT @winGame = WIN_GAME FROM USER_PLAYINFO WHERE USER_ID = @id
					SELECT @loseGame = LOSE_GAME FROM USER_PLAYINFO WHERE USER_ID = @id
					SELECT @winRate = WIN_RATE FROM USER_PLAYINFO WHERE USER_ID = @id
					RETURN 0;--SDGSGDG
				END
				ELSE
					BEGIN
						RETURN 1;
					END
				
		END TRY

	BEGIN CATCH -- 예외적인 상황. 여기로 온다.
		ROLLBACK TRAN
		RETURN 2;
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InsertUserInfo]    Script Date: 2022-04-04 오전 11:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUserInfo]
	@id NVARCHAR(50)
AS
	BEGIN TRAN
		INSERT INTO USER_PLAYINFO(USER_ID,TOTAL_PLAYGAME,WIN_GAME,LOSE_GAME,WIN_RATE) values(@id,0,0,0,0.0);
	COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[RequestLogin]    Script Date: 2022-04-04 오전 11:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RequestLogin]
	@id NVARCHAR(50),
	@ps NVARCHAR(50)
AS
	SET NOCOUNT ON -- 실행결과 출력하지 않는다.
	BEGIN TRY
		DECLARE @ret NVARCHAR(50);
		DECLARE @ret2 NVARCHAR(50);
		SELECT @ret = USER_PS FROM GAMEUSER WHERE USER_ID = @id; 
		SELECT @ret2 = USER_ID FROM GAMEUSER WHERE USER_ID = @id; 
		IF(@ret2 <> N'' AND @ret = @ps) -- N''는 널이라는 의미.
			BEGIN -- 블럭
				BEGIN TRAN
				EXEC dbo.UpdateLogin @ret2
				COMMIT TRAN				
				RETURN 0;
			END
		ELSE
			RETURN 1;
	END TRY

	BEGIN CATCH -- 예외적인 상황. 여기로 온다.
		ROLLBACK TRAN
		RETURN 2;
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[UpdateLogin]    Script Date: 2022-04-04 오전 11:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateLogin]
	@id NVARCHAR(50)
AS
	UPDATE GAMEUSER SET Login = GETDATE() WHERE USER_ID = @id;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[UpdateLogout]    Script Date: 2022-04-04 오전 11:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateLogout]
	@id NVARCHAR(50)
AS
	UPDATE GAMEUSER SET LOGOUT = GETDATE() WHERE USER_ID = @id
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[UserInfoUpdate]    Script Date: 2022-04-04 오전 11:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserInfoUpdate]
	@id NVARCHAR(50),
	@total int,
	@winCount int,
	@loseCount int,
	@rate float
AS
	UPDATE USER_PLAYINFO SET TOTAL_PLAYGAME = @total WHERE USER_ID = @id;
	UPDATE USER_PLAYINFO SET WIN_GAME = @winCount WHERE USER_ID = @id;
	UPDATE USER_PLAYINFO SET LOSE_GAME = @loseCount WHERE USER_ID = @id;
	UPDATE USER_PLAYINFO SET WIN_RATE = @rate WHERE USER_ID = @id;
RETURN 0
GO
USE [master]
GO
